POSTGRES_USER=nexora
POSTGRES_PASSWORD=nexora_dev_password
POSTGRES_DB=nexora
POSTGRES_PORT=5432

REDIS_PORT=6379

RABBITMQ_USER=nexora
RABBITMQ_PASSWORD=nexora_dev_password
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

MINIO_ROOT_USER=nexora
MINIO_ROOT_PASSWORD=nexora_dev_password
MINIO_BUCKET=nexora-attachments
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_PORT=8080
